body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ffcc99, #99ccff);
    font-family: 'Poppins', sans-serif;
    color: #333;
    padding-top: 50px; /* This moves the content down slightly to allow space for the header */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px 0;
    text-align: center;
    color: #fff;
    z-index: 1000;
}

.about-me {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

.bold-text {
    font-weight: bold;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
    transition: transform 0.2s ease;
}

.cell:hover {
    transform: scale(1.1);
    border: 2px solid #000;
}

.win-cell {
    background-color: red;
}

#message {
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: bold;
    animation: none;
}

.winner-message {
    color: green;
    animation: crackerBoom 1s ease-in-out;
}

.loser-message {
    color: red;
    animation: oopsEmojis 1s ease-in-out;
}

@keyframes crackerBoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2) rotate(10deg);
    }
    100% {
        transform: scale(1) rotate(-10deg);
    }
}

@keyframes oopsEmojis {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#restart-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#restart-button:hover {
    background-color: #218838;
}

footer {
    width: 100%;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.social-links {
    display: flex;
    justify-content: flex-start;
}

.social-links a {
    margin-right: 15px;
}

.social-links img {
    width: 48px;
    height: 48px;
    filter: invert(1);
    transition: filter 0.3s;
}

.social-links img:hover {
    filter: invert(0.7);
}

footer p {
    margin: 0;
    flex: 1;
    text-align: right;
}
